.home {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.home form {
  display: flex;
  height: 50px;
  background-color: #e3e3e3;
}

.home form input {
  flex: auto;
  padding-left: 10px;
  background-color: transparent;
  border: none;
  outline: none;
}

.home form button {
  width: 150px;
  width: 20%;
  min-width: 100px;
  border: none;
  background-color: #f95959;
  color: white;
  cursor: pointer;
}

.home__recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin: 50px 0;
}

@media screen and (max-width: 400px) {
  .home form button {
    max-width: 20%;
  }
}
