.app__details-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.app__details-card img {
  width: 350px;
}

.app__details-card__meal {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.app__details-card h1 {
  font-size: 50px;
  color: #233142;
  margin: 0;
}

.app__details-card__details {
  align-self: center;
}

@media screen and (max-width: 450px) {
  .app__details-card img {
    width: 100%;
  }
}
