.app__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 200px;
  cursor: pointer;
  position: relative;
  height: 350px;
}

.app__card img {
  width: 200px;
}

.app__card a {
  width: 150px;
  padding: 10px 0;
  border: none;
  outline: none;
  text-decoration: none;
  color: white;
  background-color: #233142;
}

.app__card a:hover {
  box-shadow: 0 0 100px #233142;
}
