* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px 200px;
}

@media screen and (max-width: 950px) {
  .App {
    padding: 20px 100px;
  }
}
@media screen and (max-width: 710px) {
  .App {
    padding: 20px 30px;
  }
}
